body {
    padding: 80px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 40px;
}

.header-links {
    display: flex;
}

.welcome {
    display: flex;
    padding: 80px;
}

.big {
    font-size: 48px;
    font-weight: bolder;
    padding: 2px 0;
}

.extra {
    padding: 8px 0;
}

.btn {
    padding: 4px;

}
/* part two of the page */
.some {
    text-align: center;
    padding: 24px;
}

.boxes {
    padding: 20px;
    display: flex;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 3px solid blue;
    border-radius: 10px;
    padding: 14px;
}

.box-one, .box-two, .box-three, .box-four {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    text-align: center;
}

.three {
    display: flex;
}

.four {
    display: flex;
}