body {
    /* padding: 5px 80px; */
    display: flex;

}

ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 5px 80px;
    font-size: 24px;
    font-weight: bolder;
    background-color: #1F2937;
    color: #fff;
}

.header-links {
    display: flex;
    font-size: 18px;
    font-weight: normal;
}

.welcome {
    display: flex;
    padding: 190px 80px;
    background-color: #1F2937;
    color: #fff;
}

.big {
    font-size: 48px;
    font-weight: bolder;
    padding: 2px 0;
}

.extra {
    padding: 8px 0;
}

.btn {
    padding: 4px;

}
/* part two of the page */
.two {
    padding: 20px 80px;
    /* here need to do something about the left and right padding */
}

.some {
    text-align: center;
    padding: 24px;
}

.boxes {
    padding: 20px;
    display: flex;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 3px solid blue;
    border-radius: 10px;
    padding: 14px;
}

.info {
    text-align: center;
    padding: 8px;
}

/* part three of the page, i.e., the quote part */
.three {
    padding: 16px 170px;
}

.quote {
    padding: 16px;
}

.author {
    padding: 8px;
    display: flex;
    justify-content: flex-end;
}

/* part four of the page, the banner part */
.four {
    padding: 16px 94px;
}

.banner {
    display: flex;
}

.contact {
    padding: 0 46px;
}

.blue-btn {
    padding: 2px 10px;
    border: white;
    background-color: blue;
    color: white;
    border-radius: 10px;
    justify-content: flex-end;
    /* button wrapping */
}

/* last part of the page */
.five {
    align-items: flex-end;
    padding: 20px;
    text-align: center;
}
